.base {
  position: absolute;
  height: calc(100% + 21px);
  top: 100px;
  bottom: -121px;
  left: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
  background-color: var(--color-white);
  width: 283px;
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  opacity: 0.1;
}
.npLogout11537380000001Icon {
  display: none;
}
.npLogout11537380000001Icon,
.signOut1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logoutIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.logout {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.div {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.div,
.navFooter,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  padding: 0 var(--padding-11xl);
}
.navFooter {
  margin-left: -30px;
  width: 283px;
  flex-direction: column;
  gap: var(--gap-lgi);
  z-index: 1;
}
.v120 {
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.navFooterParent {
  position: absolute;
  top: 1482px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.briefcase1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.nextOrganizationButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.npBusiness29874770000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.switchOrganization {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.npNext22368260000002Icon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.nextOrganization {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.organizationSwitcherContent,
.switcherButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.organizationSwitcherContent {
  gap: var(--gap-3xs-5);
  z-index: 1;
}
.switcherButton {
  padding: 0 var(--padding-11xl);
}
.base1,
.stripe {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base1 {
  width: 283px;
  opacity: 0.06;
}
.stripe {
  width: 3px;
}
.home1Icon {
  width: 16px;
  height: 14.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.homeIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.npDashboard31641900000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.dashboard {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.home {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.home,
.navLink,
.navLinkWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink {
  z-index: 1;
}
.navLinkWrapper {
  padding: 0 var(--padding-11xl) var(--padding-3xs);
}
.customers {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.customersWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.base2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumturquoise-200);
}
.stripe1 {
  height: 40px;
  width: 3px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  z-index: 1;
}
.userFriends1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.userFriends1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.users1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.users {
  flex-direction: row;
  gap: var(--gap-3xs);
  z-index: 1;
}
.navLink1,
.users,
.usersIcon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.usersIcon {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.navLink1 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  gap: var(--gap-8xl);
  z-index: 1;
}
.base3,
.stripe2 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base3 {
  width: 283px;
  opacity: 0.06;
}
.stripe2 {
  width: 3px;
}
.users1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.users1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npTeam3391480000001Icon {
  height: 17px;
  width: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.guarantors {
  width: calc(100% - 16px);
  border: 0;
  outline: 0;
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  flex: 1;
  position: relative;
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: inline-block;
  min-width: 52px;
  padding: 0;
}
.navLink2,
.users2 {
  flex: 1;
  flex-direction: row;
}
.users2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink2 {
  z-index: 1;
}
.frameParent,
.navLink2,
.navLinkContainer,
.usersLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLinkContainer {
  width: 173px;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frameParent,
.usersLink {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.frameParent {
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
  color: var(--color-slategray-100);
}
.base4,
.stripe3 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base4 {
  width: 283px;
  opacity: 0.06;
}
.stripe3 {
  width: 3px;
}
.sack1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.sackIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.npLoan12439910000001Icon {
  height: 17px;
  width: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.loans1 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.loans {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.loans,
.navLink3,
.navLinkFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink3 {
  z-index: 1;
}
.navLinkFrame {
  padding: 0 var(--padding-10xs);
}
.base5,
.stripe4 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base5 {
  width: 283px;
  opacity: 0.06;
}
.stripe4 {
  width: 3px;
}
.handshakeRegular1Icon {
  width: 19px;
  height: 15.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.handshakeRegular1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npLoan12439910000001Icon1 {
  height: 17px;
  width: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.decisionModels {
  position: relative;
  display: inline-block;
  min-width: 128px;
}
.loans2,
.navLink4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.loans2 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink4 {
  z-index: 1;
}
.base6,
.stripe5 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base6 {
  width: 283px;
  opacity: 0.06;
}
.stripe5 {
  width: 3px;
}
.piggyBank1Icon {
  width: 16px;
  height: 14.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.piggyBankIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.coins1Icon,
.npMoney5491090000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.savings1 {
  position: relative;
  display: inline-block;
  min-width: 59px;
}
.navLink5,
.savings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.savings {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink5 {
  z-index: 1;
}
.base7,
.stripe6 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base7 {
  width: 283px;
  opacity: 0.06;
}
.stripe6 {
  width: 3px;
}
.savingsChild {
  height: 22px;
  width: 18px;
  position: relative;
  min-height: 22px;
}
.npMoney13461490000001Icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.loanRequests {
  position: relative;
  display: inline-block;
  min-width: 116px;
}
.loanRequestsWrapper,
.navLink6,
.savings2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loanRequestsWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.navLink6,
.savings2 {
  flex-direction: row;
}
.savings2 {
  gap: var(--gap-5xs);
  opacity: 0.6;
}
.navLink6 {
  z-index: 1;
}
.base8,
.stripe7 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base8 {
  width: 283px;
  opacity: 0.06;
}
.stripe7 {
  width: 3px;
}
.userCheck1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkTimesIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npUser29959930000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.whitelist {
  position: relative;
  display: inline-block;
  min-width: 70px;
}
.navLink7,
.users3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.users3 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink7 {
  z-index: 1;
}
.base9,
.stripe8 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base9 {
  width: 283px;
  opacity: 0.06;
}
.stripe8 {
  width: 3px;
}
.userTimes1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.userTimes1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npDeleteUser9502480000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.karma {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.users4 {
  flex-direction: row;
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink8,
.userLoanOptions,
.users4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink8 {
  flex-direction: row;
  z-index: 1;
}
.userLoanOptions {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xl-7);
}
.userLoans {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 var(--padding-10xs);
}
.businessesContent,
.businessesContentWrapper,
.userLoans {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.businessesContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl-5);
}
.businessesContentWrapper {
  width: 209px;
  flex-direction: row;
  padding: 0 var(--padding-7xl) var(--padding-3xs);
  box-sizing: border-box;
}
.businesses {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.businessesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.base10,
.stripe9 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base10 {
  width: 283px;
  opacity: 0.06;
}
.stripe9 {
  width: 3px;
}
.briefcase1Icon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.briefcase1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.npBusiness29874770000001Icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.organization1 {
  position: relative;
  display: inline-block;
  min-width: 98px;
}
.organization {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks,
.navLink9,
.organization {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink9 {
  z-index: 1;
}
.businessLinks {
  padding: 0 var(--padding-11xs);
}
.base11,
.stripe10 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base11 {
  width: 283px;
  opacity: 0.06;
}
.stripe10 {
  width: 3px;
}
.loanProductsChild {
  height: 22px;
  width: 18px;
  position: relative;
  min-height: 22px;
}
.loanProducts1 {
  position: relative;
  display: inline-block;
  min-width: 113px;
}
.loanProducts,
.loanProductsWrapper,
.navLink10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loanProductsWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.loanProducts,
.navLink10 {
  flex-direction: row;
}
.loanProducts {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink10 {
  z-index: 1;
}
.base12,
.stripe11 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base12 {
  width: 283px;
  opacity: 0.06;
}
.stripe11 {
  width: 3px;
}
.npBank1485010000001Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.npBank1485010000001Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.savingsProducts1 {
  position: relative;
}
.savingsProducts {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks1,
.navLink11,
.savingsProducts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink11 {
  z-index: 1;
}
.businessLinks1 {
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
}
.base13,
.stripe12 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base13 {
  width: 283px;
  opacity: 0.06;
}
.stripe12 {
  width: 3px;
}
.coinsSolid1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.coinsSolid1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.npBank1485010000001Icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.feesAndCharges {
  position: relative;
}
.savingsProducts2 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks2,
.navLink12,
.savingsProducts2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink12 {
  z-index: 1;
}
.businessLinks2 {
  padding: 0 0 0 var(--padding-11xs);
}
.base14 {
  height: 40px;
  width: 283px;
  background-color: var(--color-mediumturquoise-100);
  display: none;
  opacity: 0.06;
}
.base14,
.icon,
.stripe13 {
  position: relative;
}
.stripe13 {
  height: 40px;
  width: 3px;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.icon {
  width: 16px;
  height: 18px;
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.transactions {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.organization2 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessServices,
.navLink13,
.organization2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink13 {
  z-index: 1;
}
.businessServices {
  padding: 0 var(--padding-11xs);
}
.base15,
.stripe14 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base15 {
  width: 283px;
  opacity: 0.06;
}
.stripe14 {
  width: 3px;
}
.galaxy1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.galaxy1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npServices13630360000001Icon,
.tools1Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.services1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.services {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks3,
.navLink14,
.services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink14 {
  z-index: 1;
}
.businessLinks3 {
  padding: 0 var(--padding-11xs);
}
.base16,
.stripe15 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base16 {
  width: 283px;
  opacity: 0.06;
}
.stripe15 {
  width: 3px;
}
.userCog1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.userCog1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npServices13630360000001Icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.serviceAccount {
  position: relative;
  display: inline-block;
  min-width: 126px;
}
.services2 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks4,
.navLink15,
.services2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink15 {
  z-index: 1;
}
.businessLinks4 {
  padding: 0 var(--padding-xs) 0 var(--padding-11xs);
}
.base17,
.stripe16 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base17 {
  width: 283px;
  opacity: 0.06;
}
.stripe16 {
  width: 3px;
}
.scroll1Icon {
  width: 16px;
  height: 12.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.scroll1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.npMarriageSettlement2054958Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.settlements1 {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.settlements {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.businessLinks5,
.navLink16,
.settlements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink16 {
  z-index: 1;
}
.businessLinks5 {
  padding: 0 var(--padding-11xs);
}
.base18,
.stripe17 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base18 {
  width: 283px;
  opacity: 0.06;
}
.stripe17 {
  width: 3px;
}
.chartBar2Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chartBar2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.chartBar1Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.reports {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 61px;
}
.savings3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink17 {
  flex-direction: row;
  z-index: 1;
}
.businessOptions,
.businessesLink,
.navLink17,
.settingsContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.businessesLink {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.businessOptions,
.settingsContent {
  flex-direction: column;
}
.businessOptions {
  gap: var(--gap-11xl-8);
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.settingsContent {
  gap: var(--gap-xl);
}
.settings,
.settingsContentWrapper {
  font-size: var(--font-size-xs);
  color: var(--color-slategray-100);
}
.settingsContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-4xs);
}
.settings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.base19,
.stripe18 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base19 {
  width: 283px;
  opacity: 0.06;
}
.stripe18 {
  width: 3px;
}
.slidersH1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.slidersH1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.cog1Icon,
.npPreferences1069805000000Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.preferences1 {
  position: relative;
  display: inline-block;
  min-width: 93px;
}
.preferences {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.frameDiv,
.navLink18,
.preferences {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navLink18 {
  z-index: 1;
}
.frameDiv {
  padding: 0 0 var(--padding-2xs);
}
.base20,
.stripe19 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base20 {
  width: 283px;
  opacity: 0.06;
}
.stripe19 {
  width: 3px;
}
.badgePercent1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.badgePercent1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.npPercentage4400780000001Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.feesAndPricing {
  position: relative;
  display: inline-block;
  min-width: 128px;
}
.humidity1Icon {
  height: 21.3px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navLink19,
.organization3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.organization3 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink19 {
  z-index: 1;
}
.base21,
.stripe20 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base21 {
  width: 283px;
  opacity: 0.06;
}
.stripe20 {
  width: 3px;
}
.clipboardList1Icon,
.npAudit12195090000001Icon {
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.clipboardList1Icon {
  align-self: stretch;
  max-height: 100%;
  min-height: 21px;
}
.npAudit12195090000001Icon {
  height: 16px;
  display: none;
}
.auditLogs {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.auditLogsWrapper,
.navLink20,
.organization4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auditLogsWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.navLink20,
.organization4 {
  flex-direction: row;
}
.organization4 {
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink20 {
  z-index: 1;
}
.base22,
.stripe21 {
  height: 40px;
  position: relative;
  background-color: var(--color-mediumturquoise-100);
  display: none;
}
.base22 {
  width: 283px;
  opacity: 0.06;
}
.stripe21 {
  width: 3px;
}
.tire1Icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tire1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.npMailSettings74380000000Icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.systemsMessages {
  position: relative;
}
.organization5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0.6;
}
.navLink21 {
  flex-direction: row;
  z-index: 1;
}
.navLink21,
.organizationLink,
.systemsMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.systemsMessage {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.organizationLink {
  flex-direction: column;
  gap: var(--gap-10xl-9);
}
.settingsParent {
  flex-direction: column;
  gap: var(--gap-xl);
}
.customersLink,
.customersLinkInner,
.navigationContent,
.settingsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.customersLinkInner {
  flex-direction: row;
  padding: 0 var(--padding-10xl);
}
.customersLink,
.navigationContent {
  flex-direction: column;
}
.customersLink {
  align-self: stretch;
  gap: var(--gap-12xl);
}
.navigationContent {
  top: 139px;
  width: 100%;
  gap: var(--gap-33xl);
}
.borrowerNav,
.divider1,
.navigationContent {
  position: absolute;
  left: 0;
}
.divider1 {
  height: 0.06%;
  width: 100.35%;
  top: 8.73%;
  right: -0.35%;
  bottom: 91.21%;
  border-top: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  display: none;
  opacity: 0.1;
}
.borrowerNav {
  height: 100%;
  top: 0;
  bottom: 0;
  width: 283px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-work-sans);
}
