.base {
  width: 1037px;
  height: 640px;
  position: relative;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.organization {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.filterResultsButtonIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.filterLabels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 75px;
}
.username {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.filterResultsButtonIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.filterLabels1 {
  flex: 0.8868;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 69px;
}
.email {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 38px;
  z-index: 1;
}
.filterResultsButtonIcon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.filterInputs,
.filterLabels2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.filterInputs {
  width: 390px;
  padding: 0 var(--padding-15xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.phoneNumber {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.filterResultsButtonIcon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.phoneNumberParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.dateJoined {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.filterResultsButtonIcon4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.dateJoinedParent,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frameParent {
  gap: var(--gap-16xl);
}
.status {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.filterResultsButtonIcon5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
  z-index: 1;
}
.filterBar,
.statusFilter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.filterBar {
  width: 893px;
  justify-content: space-between;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
}
.lendsqr {
  position: relative;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.orgNameHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-8xs) 0 0;
}
.adedeji {
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.userNameHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.adedejilendsqrcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.adedejilendsqrcomWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.inactivePill {
  position: relative;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.inactivePillWrapper {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.may152020 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.may1520201000AmWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.inactivePillChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-slategray-300);
}
.inactive {
  position: relative;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.frameContainer,
.inactivePill1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactivePill1 {
  padding: var(--padding-6xs) var(--padding-smi) var(--padding-7xs);
  position: relative;
  z-index: 1;
  text-align: center;
}
.frameContainer {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-16xl);
}
.icMoreVert18pxIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameGroup,
.icMoreVert18pxWrapper,
.tableHeaders {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icMoreVert18pxWrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frameGroup,
.tableHeaders {
  flex-direction: row;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.tableHeaders {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.irorun,
.tableHeaders1 {
  position: relative;
  z-index: 1;
}
.tableHeaders1 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.irorun {
  display: inline-block;
  min-width: 42px;
}
.irorunWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.debbyOgana {
  position: relative;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.nestedUserEmails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-mini) 0 0;
}
.debby2iroruncom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.nestedUserEmails1 {
  flex: 0.9388;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 96px;
}
.emptyDateJoined1 {
  position: relative;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.emptyDateJoined {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr302020 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.dateJoinedHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 100px;
}
.pendingPillShape {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-goldenrod-200);
}
.pending {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-work-sans);
  color: var(--color-goldenrod-100);
  text-align: left;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.pendingPill,
.userStatusHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pendingPill {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-7xs);
  background-color: transparent;
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.userStatusHeader {
  flex-direction: column;
  padding: 0 var(--padding-3xs) 0 0;
}
.icMoreVert18pxIcon1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.moreOptionsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.nestedUserEmailsParent,
.tableHeaders2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.nestedUserEmailsParent {
  width: 826px;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.tableHeaders2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lendstar,
.tableHeaders3 {
  position: relative;
  z-index: 1;
}
.tableHeaders3 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.lendstar {
  display: inline-block;
  min-width: 61px;
}
.lendstarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.graceEffiom {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.graceEffiomWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-base) 0 0;
}
.gracelendstarcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.gracelendstarcomWrapper {
  flex: 0.9524;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 96px;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.wrapper {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr3020201 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr3020201000AmWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 100px;
}
.blacklistedPillChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-crimson-200);
}
.blacklisted {
  position: relative;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.blacklistedPill {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--color-crimson-100);
}
.icMoreVert18pxIcon2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icMoreVert18pxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frameDiv,
.tableHeaders4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  width: 826px;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.tableHeaders4 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lendsqr1,
.tableHeaders5 {
  position: relative;
  z-index: 1;
}
.tableHeaders5 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.lendsqr1 {
  display: inline-block;
  min-width: 56px;
}
.lendsqrWrapper {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.tosinDokunmu {
  position: relative;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
}
.tosinDokunmuWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.tosinlendsqrcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.tosinlendsqrcomWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mini) 0 0;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.container {
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr102020 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr1020201000AmWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 98px;
}
.pendingPillChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-goldenrod-200);
}
.pending1,
.pendingPill1 {
  position: relative;
  z-index: 1;
}
.pending1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-work-sans);
  color: var(--color-goldenrod-100);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.pendingPill1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-lg) var(--padding-7xs);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icMoreVert18pxIcon3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icMoreVert18pxFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frameParent1,
.pendingPillParent,
.tableHeaders6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.pendingPillParent {
  flex: 1;
  justify-content: space-between;
  min-width: 101px;
  gap: var(--gap-xl);
}
.frameParent1,
.tableHeaders6 {
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent1 {
  flex: 1;
  gap: var(--gap-19xl);
  min-width: 327px;
}
.tableHeaders6 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-16xl);
}
.lendstar1,
.tableHeaders7 {
  position: relative;
  z-index: 1;
}
.tableHeaders7 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.lendstar1 {
  display: inline-block;
  min-width: 61px;
}
.lendstarContainer {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.graceEffiom1 {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.graceEffiomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-4xs) 0 0;
}
.gracelendstarcom1 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.gracelendstarcomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.frame {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr3020202 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr3020201000AmContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.activePillChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumspringgreen-200);
}
.active {
  position: relative;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.activePill,
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.activePill {
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-7xs);
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--color-mediumspringgreen-100);
}
.frameParent2 {
  padding: 0 var(--padding-4xl) 0 0;
  gap: var(--gap-16xl);
}
.icMoreVert18pxIcon4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.lastRowMoreOptions,
.tableHeaders8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lastRowMoreOptions {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.tableHeaders8 {
  flex-direction: row;
  gap: var(--gap-23xl);
}
.lendsqr2,
.tableHeaders9 {
  position: relative;
  z-index: 1;
}
.tableHeaders9 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.lendsqr2 {
  display: inline-block;
  min-width: 56px;
}
.lendsqrContainer {
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.tosinDokunmu1 {
  position: relative;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
}
.tosinlendsqrcom1 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.tableHeadersInner,
.tosinDokunmuParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tosinDokunmuParent {
  flex-direction: row;
  gap: var(--gap-16xl);
}
.tableHeadersInner {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-sm) 0 0;
}
.apr1020201 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr1020201000AmContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.activePillItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumspringgreen-200);
}
.active1 {
  position: relative;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.activePill1,
.activePillWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.activePill1 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-7xs);
  position: relative;
  z-index: 1;
}
.activePillWrapper {
  flex-direction: column;
  padding: 0 var(--padding-8xl) 0 0;
  text-align: center;
  color: var(--color-mediumspringgreen-100);
}
.icMoreVert18pxIcon5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icMoreVert18pxWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frameParent3,
.tableHeaders10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent3 {
  width: 344px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tableHeaders10 {
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.tableHeaders11 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  z-index: 1;
}
.lendstar2 {
  position: relative;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.lendstarFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.graceEffiom2 {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.graceEffiomFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-base) 0 0;
}
.gracelendstarcom2 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.gracelendstarcomFrame {
  flex: 0.9524;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 96px;
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.wrapper2 {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr3020203 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr3020201000AmFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 100px;
}
.blacklistedPillItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-crimson-200);
}
.blacklisted1 {
  position: relative;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.blacklistedPill1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--color-crimson-100);
}
.icMoreVert18pxIcon6 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icMoreVert18pxWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frameParent4,
.tableHeaders12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent4 {
  width: 826px;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.tableHeaders12 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lendsqr3,
.tableHeaders13 {
  position: relative;
  z-index: 1;
}
.tableHeaders13 {
  align-self: stretch;
  height: 1px;
  background-color: var(--color-darkslateblue-200);
}
.lendsqr3 {
  display: inline-block;
  min-width: 56px;
}
.lendsqrFrame {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.tosinDokunmu2 {
  position: relative;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
}
.tosinDokunmuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.tosinlendsqrcom2 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.tosinlendsqrcomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mini) 0 0;
}
.div5 {
  position: relative;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.wrapper3 {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.apr1020202 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr1020201000AmFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.inactivePillItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-slategray-300);
}
.inactive1 {
  position: relative;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.inactivePill2,
.inactivePillContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactivePill2 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-smi) var(--padding-7xs);
  position: relative;
  z-index: 1;
}
.inactivePillContainer {
  flex-direction: column;
  padding: 0 var(--padding-mid) 0 0;
  text-align: center;
}
.icMoreVert18pxIcon7 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.icMoreVert18pxWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frameParent5,
.tableHeaders14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent5 {
  flex: 1;
  justify-content: space-between;
  min-width: 224px;
  gap: var(--gap-xl);
}
.tableHeaders14 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.tableHeaders15 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  z-index: 1;
}
.lendstar3 {
  position: relative;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.lendstarWrapper1 {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.graceEffiom3 {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.graceEffiomWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
}
.gracelendstarcom3 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.emptyUserEmail {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.frameParent6,
.tableHeadersChild {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent6 {
  flex-direction: row;
  gap: var(--gap-23xl);
}
.tableHeadersChild {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.apr3020204 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.apr3020201000AmWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.inactivePillShape {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-slategray-300);
}
.inactive2 {
  position: relative;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.inactivePill3,
.inactivePillFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactivePill3 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-smi) var(--padding-7xs);
  position: relative;
  z-index: 1;
}
.inactivePillFrame {
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  text-align: center;
}
.icMoreVert18pxIcon8 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameParent7,
.icMoreVert18pxWrapper4,
.table,
.tableHeaders16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icMoreVert18pxWrapper4 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frameParent7,
.table,
.tableHeaders16 {
  flex-direction: row;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.table,
.tableHeaders16 {
  gap: var(--gap-48xl);
}
.table {
  position: absolute;
  top: 428px;
  left: 343px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 1037px;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-10xl) var(--padding-13xl);
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
  font-family: var(--font-work-sans);
}
@media screen and (max-width: 975px) {
  .filterBar,
  .frameDiv,
  .frameParent4,
  .nestedUserEmailsParent,
  .tableHeaders,
  .tableHeaders10,
  .tableHeaders12,
  .tableHeaders16,
  .tableHeaders2,
  .tableHeaders4,
  .tableHeaders8 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .filterLabels1 {
    flex: 1;
  }
  .filterInputs {
    flex-wrap: wrap;
  }
  .gracelendstarcomWrapper,
  .nestedUserEmails1 {
    flex: 1;
  }
  .frameParent1,
  .frameParent3 {
    flex-wrap: wrap;
  }
  .gracelendstarcomFrame {
    flex: 1;
  }
  .frameParent5,
  .frameParent6,
  .frameParent7 {
    flex-wrap: wrap;
  }
}
